<% @child_squares.each_with_index do |child_square, i| %>
<% if i == 0 || i == 3 || i == 5 %>
<div style="display: flex; width: 100%;">
<% end %>
  <div style="width: 33%;">
<!--左上-->
    <%#= form_with model: [@parent_square,child_square], url: parent_square_child_square_path(@parent_square, child_square)  do |f| %>
    <%= form_with model: child_square, url: parent_square_child_square_path(@parent_square, child_square)  do |f| %>
      <div class="d-flex justify-content-center mt-5">
        <div class=""><%= f.text_area :row_1, class: 'form-control', size: "5x3" %></div>
        <div class=""><%= f.text_area :row_2, class: 'form-control', size: "5x3" %></div>
        <div class=""><%= f.text_area :row_3, class: 'form-control', size: "5x3" %></div>
      </div>
      <div class="d-flex justify-content-center">
        <div class=""><%= f.text_area :row_4, class: 'form-control', size: "5x3" %></div>
        <% unless i == 4 || i == 5 || i == 6 || i == 7 %>
        <% @column_name = "row_"+ "#{ i + 1 }"%>
        <textarea rows="3" cols="7" disabled><%= @parent_square[@column_name] %></textarea><!--真ん中のマス-->
        <% else %>
        <% @column_name = "row_"+ "#{ i + 2 }"%>
        <textarea rows="3" cols="7" disabled><%= @parent_square[@column_name] %></textarea><!--真ん中のマス-->
        <% end %>
        <div class=""><%= f.text_area :row_6, class: 'form-control', size: "5x3" %></div>
      </div>
      <div class="d-flex justify-content-center">
        <div class=""><%= f.text_area :row_7, class: 'form-control', size: "5x3" %></div>
        <div class=""><%= f.text_area :row_8, class: 'form-control', size: "5x3" %></div>
        <div class=""><%= f.text_area :row_9, class: 'form-control', size: "5x3" %></div>
      </div>
      <%= f.submit '保存' %>
    </div>
    <% end %>
    <% if i == 3 %>
     <div style="width: 33%">
    <%= form_with model: @parent_square do |f| %>
      <div class="d-flex justify-content-center mt-5">
        <div class=""><%= f.text_area :row_1, class: 'form-control', size: "5x3" %></div>
        <div class=""><%= f.text_area :row_2, class: 'form-control', size: "5x3" %></div>
        <div class=""><%= f.text_area :row_3, class: 'form-control', size: "5x3" %></div>
      </div>
      <div class="d-flex justify-content-center">
        <div class=""><%= f.text_area :row_4, class: 'form-control', size: "5x3" %></div>
        <textarea rows="3" cols="7" disabled><%= @parent_square.row_5 %></textarea><!--真ん中のマス-->
        <div class=""><%= f.text_area :row_6, class: 'form-control', size: "5x3" %></div>
      </div>
      <div class="d-flex justify-content-center">
        <div class=""><%= f.text_area :row_7, class: 'form-control', size: "5x3" %></div>
        <div class=""><%= f.text_area :row_8, class: 'form-control', size: "5x3" %></div>
        <div class=""><%= f.text_area :row_9, class: 'form-control', size: "5x3" %></div>
      </div>
      <div><%= f.submit '保存' %></div>
    </div>
    <% end %>
    <% end %>
    <% if i == 2 || i == 4 || i == 7 %>
</div>
<% end %>
    <% end %>
</div>
